.navbar{
    background: whitesmoke !important;
    margin: 0px;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: green;
    left: -200px;

}
#sidebar.toggled{
  
    left: 0px;

}
#sidebar ul li{
    list-style: none;
}
#blog1{
    height: 220px;


}
#blog2{
    
    margin-top: 1%;
    
   
}
#blog3{
    height: 220px;
    margin-top: 1%;
}
#blog4{
    height: 220px;
    margin-top: 1%;
}
.al{
    height: 220px;

}
#blo{
    height: 90%;
    
}
#bl1{
    height: 220px;
    width: 100%​;
}
#blog1.toggled{
    margin-left: 250px;
}
#blog2.toggled{
    margin-left: 250px;
}
#blog3.toggled{
    margin-left: 250px;
}
#blog4.toggled{
    margin-left: 250px;
}


